.apresentação, .conteudo__principal {
    display: flex;
    flex-direction: column;
}

.titulo__comida-oriental {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    text-align: left;
    margin-top: 30px;
    font-size: 32px;
}

.texto__comida-oriental {
    font-size: 16px;
    margin-bottom: 50px;
}

.cardapio {
  text-decoration: none;
  background-color: var(--vermelho);
  text-align: center;
  color: var(--branco);
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.titulo__feito-tradicional {
    font-family: var(--fonte-titulo);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 0 40px;
    margin-top: 50px;
}

.texto__feito-tradicional {
    text-align: center;
    margin: 5px 0 25px;
}

.link__ler-mais {
    text-align: center;
    color: var(--vermelho);
    font-weight: 500;
    margin-bottom: 40px;
}

.imagem__comida-oriental{
    width: 100%;
}

@media screen and (min-width: 1028px){

    .apresentação {
        background: url("/assets/imagens/sushi.svg") no-repeat;
        background-position: right top;
        background-size: 250px;
        display: flex;
        flex-direction: column;
  }

    .cardapio {
        width: 150px;
        padding: 12px;
    }

    .imagem__comida-oriental {
        margin-top: 60px;
        width: 250px;
    }

    .tradicional {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .trad {
        display: flex;
        flex-direction: column;
        width: 350px;
    }

    .titulo__feito-tradicional{
        padding: 0 0 0 0;
    }

    .texto__feito-tradicional, .titulo__feito-tradicional, .link__ler-mais {
        text-align: left;
    }

}