.conteudo__ramen-frango, .conteudo__ramen-apimentado, .conteudo__ramen-tradicional {
    text-align: center;
    background-color: var(--cinza-claro);
    position: relative;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    border-radius: 16px;
}

.conteudo__ramen-apimentado, .conteudo__ramen-tradicional {
    margin-top: 140px;
}

.titulo__pratos-populares {
    margin-bottom: 130px;
    font-family: var(--fonte-titulo);
    text-align: center;
    font-weight: 600;
}

.imagem__ramen-frango, .imagem__ramen-apimentado, .imagem__ramen-tradicional{
    align-self: center;
    position: absolute;
    top: -80px;
}

.imagem__ramen-tradicional {
    top: -110px;
}

.titulo__ramen-frango, .titulo__ramen-apimentado, .titulo__ramen-tradicional{
    font-family: var(--fonte-titulo);
    font-weight: 500;
    font-size: 24px;
}

.preço__ramen-frango, .preço__ramen-apimentado, .preço__ramen-tradicional {
    font-family: var(--fonte-titulo);
    font-size: 32px;
    font-weight: 400;
}