@import url("../CSS/header.css");
@import url("../CSS/apresentação.css");

:root {
    --preto: #292929;
    --vermelho: #DA2535;
    --branco: #FBFBFB;
    --cinza-claro: #F3F3F3;
    --fonte-paragrafo: 'Inter', sans-serif;
    --fonte-titulo: 'Montserrat', sans-serif;
}


body{
    margin: 0 0 0 0;
    padding: 0 24px;
    height: 100vh;
    font-family: var(--fonte-paragrafo);
    color: var(--preto);
}
